/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Custom Properties */
:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
  --font-size-default: 16px;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  width: 100vw;
  height: 100vh;
  background: url('./images/pattern-background-desktop.svg') no-repeat,
    var(--color-pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: var(--font-size-default);
  color: var(--color-desaturated-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark-blue);
}

.modal {
  width: 450px;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.modal > .hero {
  margin-bottom: 40px;
}

.modal h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

.modal p {
}

.modal-content {
  padding: 0 30px;
}
